<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bero.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4C5B10E5F702B5A24CB13D6D4F68A94C4FBEBBCF</string>
				<key>dateExpires</key>
				<string>2023/02/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C5B10E5F702B5A24CB13D6D4F68A94C4FBEBBCF</string>
						<key>dateExpires</key>
						<string>2023/02/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleMaps</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TYPPBR5AQ8</string>
						<key>name</key>
						<string>IRONRAFT PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C5B10E5F702B5A24CB13D6D4F68A94C4FBEBBCF</string>
						<key>dateExpires</key>
						<string>2023/02/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleMapsBase</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TYPPBR5AQ8</string>
						<key>name</key>
						<string>IRONRAFT PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C5B10E5F702B5A24CB13D6D4F68A94C4FBEBBCF</string>
						<key>dateExpires</key>
						<string>2023/02/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleMapsCore</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TYPPBR5AQ8</string>
						<key>name</key>
						<string>IRONRAFT PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C5B10E5F702B5A24CB13D6D4F68A94C4FBEBBCF</string>
						<key>dateExpires</key>
						<string>2023/02/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleMapsM4B</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TYPPBR5AQ8</string>
						<key>name</key>
						<string>IRONRAFT PTE. LTD.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4C5B10E5F702B5A24CB13D6D4F68A94C4FBEBBCF</string>
						<key>dateExpires</key>
						<string>2023/02/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GooglePlaces</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TYPPBR5AQ8</string>
						<key>name</key>
						<string>IRONRAFT PTE. LTD.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TYPPBR5AQ8.com.ironraft.pupping.Bero</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>TYPPBR5AQ8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Bero.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>15225428-4d54-4fca-958d-72fb654d16c0</string>
				<key>dateExpires</key>
				<string>2023/02/25</string>
				<key>name</key>
				<string>bero_des</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TYPPBR5AQ8</string>
				<key>name</key>
				<string>IRONRAFT PTE. LTD.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
