<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474132217178-gs267ilhklucpvv8dlt5usphb8atplf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474132217178-gs267ilhklucpvv8dlt5usphb8atplf2</string>
	<key>API_KEY</key>
	<string>AIzaSyCHDB1mFuj7MEaCwxBSzCLqXGSGtWJ97fA</string>
	<key>GCM_SENDER_ID</key>
	<string>474132217178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ironraft.pupping.Bero</string>
	<key>PROJECT_ID</key>
	<string>bero-354601</string>
	<key>STORAGE_BUCKET</key>
	<string>bero-354601.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:474132217178:ios:e46edf8bfe47d9c9c74763</string>
</dict>
</plist>
